<div id="cart_header">
    {% if content_data.cart_goods == 0 %}
    <div class="cart_header_msg">
        <h3>Ваша корзина пуста!</h3>
    </div>

    {% else %}
    <div class="container_table_cart">
        <form action="" method="post">
            <table class="cart_table">
                {% for cart_good in content_data.cart_goods %}
                <tr>
                    <td>{{cart_good.name}}</td>
                    <td><input style="display: block; width: 50px;" type="number" min="0" max="100" size="2" name="quantity[{{cart_good.id_good}}]" value="{{cart_good.q}}">
                        <input type="hidden" size="2" name="id[]" value="{{cart_good.id_good}}"></td>
                    <td>{{cart_good.price}} &#8381;</td> {% if content_data.view_coast == true %}
                    <td>{{cart_good.res}} &#8381;</td>
                    {% else %} {% endif %} {% endfor %}
                </tr>
                {% if content_data.view_coast == true %}
                <tr>
                    <td colspan="3"></td>
                    <td style="text-align:center"><b>ИТОГО:</b> {{content_data.sum}} &#8381;</td>
                </tr>
                {% else %} {% endif %}

            </table>

            <div>
                <a class="link_header_cart" href="/cart/">Перейти к заказу</a>
            </div>
        </form>
    </div>
    {% endif %}

</div>
