<!DOCTYPE html>
<html>
    <head>
        <title>{{ title }}</title>
    </head>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    <script type="text/javascript" src="js/category.js"></script>
    <body>
      <div><a href="/public/">Главная</a></div>
       <div><a href="/public/categories/">Каталог</a></div>
       <div><a href="/public/order/">Заказы</a></div>
        <!--<ul>
            {% for category in categories %}
            <li>
                <a href="/public/categories/{{ category.id_category }}/" link="{{ category.id_category }}" class="category-link">{{ category.name }}</a>
            </li>
            {% endfor %}
        </ul>-->

<!--/categories/?id={{ category.id_category }}-->

