{% include 'header.html' %}
<div >
    
        {% for order in content_data.order %}
        <ul>
        <li>ID: {{ order.id_order }}<ul>
              <li>ID Good: {{order.id_good}}</li>
              <li>Good: {{order.name}}</li>
              <li>Quantity: {{order.is_in_order}}</li>
         </ul> </li>
       
        
        <li>User: {{order.user_name}}</li>
        <li>E-mail: {{order.email}}</li>
        <li>Сумма {{ order.amount }}</li>
        <li>Дата {{ order.datatime_create }}</li>
        <li>Статус {{order.id_order_status}}
        
        <form action="/public/order/status/" method="get">
        <input type="radio" name="id" value="1">новый<br>
        <input type="radio" name="id" value="2">выполнен<br>
        <input type="hidden" name= "id_order" value="{{ order.id_order }}">
        
        <input type="submit" value="выбрать">
        
        </form>
        </li>
        <br><br>
         </ul>
         
         
       
        {% endfor %}
        
        
   
    <p></p>
</div>
<!--{{ order.id_order_status }}-->

{% include 'footer.html' %}